<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8" />
<!--<link rel="icon" type="image/x-icon" href="favicon.ico" sizes="16x16">-->

<title>Baza zamówień</title>

</head>


	<h1>Zaloguj</h1>

	<form name='f' action="j_security_check" method='POST'>
		<table>
			<tr>
				<td>Użytkownik:</td>
				<td><input type='text' name='j_username' value=''></td>
			</tr>
			<tr>
				<td>Hasło:</td>
				<td><input type='password' name='j_password' /></td>
			</tr>
			<!-- <tr>
				<td>Pamiętaj przez 7 dni:</td>
				<td><input type="checkbox" name="remember-me" /></td>
			</tr> -->
			<tr>
				<td><input name="submit" type="submit" value="Loguj" /></td>
			</tr>
		</table>
	</form>
	<div id="error_data" style="color: red;"></div>


</body>
</html>