

<div data-ng-include="" src="'templates/header.html'"></div>

<!-- <div class="container-fluid">
		<table class="table table-hover ">
				<thead>
						<tr class="bg-success text-center">
								<th>LP</th>
								<th>Zamówienie:</th>
								<th>Data</th>
								<th>Dostawca</th>
								<th>Zakład</th>
								<th>Zamawiający</th>
								<th>index</th>
								<th>nazwa</th>
								<th>ilość</th>
								<th>jm.</th>
								<th>mpk</th>
								<th>zlecenie</th>
								<th>Plan. termin dostawy</th>
								<th>Data Dostawy</th>
								<th>Dostar.</th>
								<th>Odbierający</th>
								<th>Data wydania</th>
								<th>Opis dodat.</th>
								<th>Referencja</th>
						</tr>
				</thead>
				<tbody>
						data-ng-repeat  track by item.id
						<tr data-ng-repeat="item in tableViews|filter:serachFilter|limitTo:70|orderBy:'orderId':false "
								data-ng-class="{red_background:item.isDispatched}" data-post-repeat-directive>
								<td>{{$index+1}}</td>
								<td>{{item.orderId}}</td>
								<td>{{item.orderDate|date:'dd-MM-yyyy'}}</td>
								<td>{{item.supplier}}</td>
								<td>{{item.factory}}</td>
								<td>{{item.orderedPerson}}</td>
								<td>{{item.index}}</td>
								<td>{{item.goodsName}}</td>
								<td>{{item.goodsAmount}}</td>
								<td>{{item.goodsUnit}}</td>
								<td>{{item.mpk}}</td>
								<td>{{item.budget}}</td>
								<td>{{item.expectedDeliveryDate}}</td>
								<td>{{item.deliveryDate| date:'dd-MM-yyyy HH:mm:ss'}}
								<td>
										<span>
												<input type="checkbox" data-ng-checked="{{item.isDispatched}}" data-ng-click="editTableView(item)"
														style="display: inline; width: 40px" />
										</span>
								</td>
								<td class="input-group">
										<input type="text" data-ng-model="item.warehouseReleasePerson" maxlength="40" class="form-control"
												style="width: 20ch" />
										<span class="input-group-btn" data-ng-model-options="{ debounce: 500 }">
												<button class="btn btn-default" type="button" data-ng-click="addWarehouseReleasePerson(item)">
														<span class="glyphicon  glyphicon-save" title="Zapisz"></span>
												</button>
										</span>
								</td>
								<td>{{item.warehouseReleaseDate| date:'dd-MM-yyyy HH:mm:ss'}}</td>
								<td class="input-group">
										<input type="text" data-ng-model="item.description" maxlength="40" class="form-control" style="width: 20ch" />
										<span class="input-group-btn">
												<button class="btn btn-default" type="button" data-ng-click="updateTableView(item)">
														<span class="glyphicon  glyphicon-save" title="Zapisz"></span>
												</button>
										</span>
								</td>
								<td>{{item.orderReference}}</td>
						</tr>
				</tbody>
		</table>
		<div data-render-list="item in tableViews"></div>
</div> -->