<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.ionicframework.com/1.0.0/css/ionic.css" />
	<script src="http://code.ionicframework.com/1.0.0/js/ionic.bundle.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="ui-field-contain">
	<label for="flip-1">Switch:</label>
	<input name="flip-1" id="flip-1" data-role="flipswitch" type="checkbox"/>
</div>
	<ion-side-menus delegate-handle="s">
		<ion-side-menu-content>
			<ion-nav-bar>
				<ion-nav-buttons class="bar-stable nav-title-slide-ios7" side="left">
					<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
				</ion-nav-buttons>
			</ion-nav-bar>
			<ion-view title="Title"></ion-view>
			<ion-view>
				<ion-content>
					<!-- center content -->
				</ion-content>
			</ion-view>
		</ion-side-menu-content>
		<ion-side-menu side="left">
			<ion-header-bar>
				<h4>Left</h4>
			</ion-header-bar>
			<ion-content class="has-header">
				<!-- left menu content -->
			</ion-content>
		</ion-side-menu>
		<table data-role="table" id="table-1" class="ui-responsive">
			<thead>
				<tr>
					<th>A</th>
					<th data-priority="1">B</th>
					<th data-priority="2">C</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>a</td>
					<div data-role="navbar" id="navbar-1">
						<ul>
							<li><a href="#">A</a></li>
							<li><a href="#">B</a></li>
							<li><a href="#">C</a></li>
						</ul>
					</div>
					<td>b</td>
					<table id="table-2">
						<thead>
							<tr>
								<th>A</th>
								<th>B</th>
								<th>C</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>a</td>
								<td>b</td>
								<td>c</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>A</th>
								<th>B</th>
								<th>C</th>
							</tr>
						</tfoot>
					</table>
					<td>c</td>
				</tr>
			</tbody>
		</table>
	</ion-side-menus>
	<menuitem id="menuitem-1" type="command" label="My item"/>
	<label class="item item-input">
		<span class="input-label">Input:</span>
		<ion-toggle>Label</ion-toggle>
		<input placeholder="Text" type="text"/>
	</label>
</body>
</html>
