<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body> -->

<!-- ------------------footer----------------- -->

<footer>

		<div >
				<p>
						© Copyright by <strong>Magazyn Części Zamiennych FIP</strong>. All rights reserved.
					<br/><small>Designed and Developed by LM.</small>
					<!-- 	<span class="glyphicon glyphicon-envelope"></span>
						 <a class="btn btn-danger">Kliknij</a>  -->
				</p>
		</div>
</footer>

<!-- </body>
</html> -->