<!-- ------------------filter menu ----------------- -->
<div class="container" >
		<div class="navbar navbar-inverse navbar-fixed-top " id="navbar_main">
		
		<!-- toggle when the width smaller than ....  -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse">
						<div class="navbar-brand">Filter:</div>
						<!--  <div id="filter-group">  -->
						<form class="navbar-form  center-block   " style="display: inline;">
								<input type="text" class="form-control text-danger red-text" placeholder="Zamówienie" style="width: 100px"
										data-ng-model="$parent.serachFilter.orderId" />
								<input type="text" class="form-control red-text" placeholder="Dostawca" style="width: 90px"
										data-ng-model="$parent.serachFilter.supplier" />
								<input type="text" class="form-control red-text" placeholder="Zakład" style="width: 70px"
										data-ng-model="$parent.serachFilter.factory" />
								<input type="text" class="form-control red-text" placeholder="Zamawiający" style="width: 110px"
										data-ng-model="$parent.serachFilter.orderedPerson" />
								<input type="text" class="form-control red-text" placeholder="Index" style="width: 125px" maxlength="18"
										data-ng-model="$parent.serachFilter.index" />
								<input type="text" class="form-control red-text" placeholder="Nazwa towaru"
										data-ng-model="$parent.serachFilter.goodsName" style="width: 160px" />
								<input type="text" class="form-control red-text" placeholder="MPK" style="width: 60px" maxlength="6"
										data-ng-model="$parent.serachFilter.mpk" />
								<input type="text" class="form-control red-text" placeholder="Zlecenie" style="width: 90px" maxlength="16"
										data-ng-model="$parent.serachFilter.budget" />
								<input type="text" class="form-control red-text" placeholder="Pobrał" style="width: 90px" maxlength="16"
										data-ng-model="$parent.serachFilter.warehouseReleasePerson" />
								<input type="text" class="form-control red-text" placeholder="Referencja" style="width: 95px" maxlength="16"
										data-ng-model="$parent.serachFilter.orderReference" />
								<div class="checkbox">
										<label> <input type="checkbox" class="form-control " data-ng-model="$parent.searchFilter.showDispatched"
														title="Pokaż dostarczone" /> dostar.
										</label> <label> <input type="checkbox" class="form-control" title="Pokaż niedostarczone"
														data-ng-checked="true" data-ng-model="$parent.searchFilter.showUndispatched" /> niedost.
										</label>
								</div>
								<span class="navbar-form navbar-right">
										<input type="file" style="display: inline" class="" name="selectedFile" accept="text/html" id="selectedFile"
												value="wybierz plik" title="Wybierz plik który chcesz wgrać." class="form-control" />
										<button id="sendFile" class="btn btn-warning"  class="form-control" data-ng-click="$parent.uploadFile()">wyślij</button> <!--$parent.uploadFile()  -->
										<input type="text" id="orderReferenceInputTxt" name="orderReferenceInputTxt" placeholder="referencja"
												style="display: inline; width: 90px; color: black" class="form-control red-text" >
								</span>
						</form>
						
				</div>
		</div>
</div>