<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-cloak="">
<!-- manifest="mypdf2.appcache" -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Magazyn części</title>

    <!--<link rel="icon" type="image/x-icon" href="favicon.ico" sizes="16x16">-->
    <link rel="stylesheet" type="text/css" href="styles/app.css"/>
    <link rel="stylesheet" type="text/css" href="scripts/library/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="scripts/library/angular_material/angular-material.min.css"/>
 <!--   <base href="/mypdf2/">-->

</head>

<body class=“ng-cloak”>

<header>
    <nav class="navbar navbar-default ">
        <div class="container-fluid">

            <div class="navbar-header">

                <a class="navbar-brand navbar-left" href="#home"><i><img src="images/tools-24.png" width="24" height="24"/></i> Magazyn części</a>
            </div>

            <ul class="nav navbar-nav navbar-right ">
                <li>
                    <a href="#orders-table"><i class="fa fa-home" data-ng-click="toggleRight()"></i>Wyszukaj zamówienie
                        <i class="glyphicon glyphicon-search"></i></a>
                </li>
                <li>
                    <a href="#pick-up">
                        Do odebrania
                        <i class="glyphicon glyphicon-export"></i>
                    </a>
                </li>

                <li>
                    <a href="#add-order">
                        <i class="fa fa-shield"></i> Dodaj zamówienie
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </li>
                <!--    <li><a href="#"><i class="fa fa-comment"></i> Contact</a></li>-->
                <li>
                    <a href="#logout" data-ng-click="logout()">Wyloguj: <strong data-ng-cloak>{{currentUser.name}}</strong></a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div data-ng-view="" class="ng-cloak content"></div>

<!-- ------------------footer----------------- -->
<div data-ng-include="" src="'templates/footer.html'"/>
<!-- -------------------loaded  scripts---------------------------- -->

<!--   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="scripts/library/jquery-2.1.4.min.js"></script>

<!-- Angular Material Dependencies-->
<script src="scripts/library/bootstrap-3.3.5/js/bootstrap.min.js"></script>


<script src="scripts/library/angular-1.4.7/angular.min.js"></script>
<script src="scripts/library/angular-1.4.7/angular-animate.min.js"></script>
<script src="scripts/library/angular-1.4.7/angular-aria.min.js"></script>
<script src="scripts/library/angular-1.4.7/angular-route.min.js"></script>
<script src="scripts/library/angular-1.4.7/angular-sanitize.min.js"></script>
<!-- 	<script src="scripts/library/angular-1.4.7/angular-resource.min.js"></script> -->
<script src="scripts/library/angular-1.4.7/i18n/angular-locale_pl-pl.js"></script>


<!-- Or use TAG number for specific version. New versions are auto deployed -->

<script src="scripts/library/lodash.min.js"></script>

<script src="scripts/library/restangular/restangular.min.js"></script>
<!--  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>-->


<!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
<script src="scripts/library/angular_material/angular-material.min.js"></script>

<!-- Angular pagining -->
<script src="scripts/library/angular-pagining/paging.min.js"></script>

<script src="scripts/app/myApp.js"></script>

<!--  controllers-->
<script src="scripts/app/controllers/controllers.js"></script>
<script src="scripts/app/controllers/ordersTableController.js"></script>
<script src="scripts/app/controllers/addOrderController.js"></script>
<script src="scripts/app/controllers/pickupParts.js"></script>
<script src="scripts/app/controllers/editOrderController.js"></script>

<!--  services-->
<script src="scripts/app/services/services.js"></script>
<script src="scripts/app/services/RestFullResponseService.js"></script>

<!-- directives  -->
<script src="scripts/app/directives/directives.js"></script>

<script src="scripts/app/filters/filters.js"></script>
<script src="scripts/app/filters/newLineFilter.js"></script>
</body>
</html>